<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="QA">
  <test name="Prime Number Test">
    <classes>
      <class name="core.PrimeNumberCheckerTest"/>
      <class name="core.PrimeNumberCheckerTest2"></class>
    </classes>
  </test> 
</suite> 